body
{
    background-color:#ff5c5c ;
} /*#ff5c5c  #dc4731    #40826d*/


.container
{
    
    position: absolute;
    top: 20%;
    left: 26%;
   
    
}
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
   width: 450px;
    height: 176px;
    gap: 54px;
    border-radius: 6px;

}

.text {
    display: flex;
    justify-content: center;
    gap: 24px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

input[type="number"] {
    width: 100px;
    height: 23px;
    padding-left: 7px;
    cursor: pointer;
    font-weight: bold;
 
}

input[type="number"]
{
    border: 1px solid  rgba(128, 128, 128, 0.842);
    outline:  rgba(128, 128, 128, 0.842);
    border-radius: 4px;
}
.align
{
    margin-bottom: 4px;
    font-weight: bold;
}
